openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Trade API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Trade
  description: Requires authentication
paths:
  /api/v3/wallet/{path_wallet_type}/trades:
    get:
      summary: trade history
      description: 'Get executed trades


        Parameter Usage Description


        Response records in ascending order by created time from specified timestamp with order in asc.

        Response records in descending order by created time from specified timestamp with order in desc.

        Response records in ascending order by id from specified from_id with order in asc.

        Response records in descending order by id time specified from_id with order in desc.

        If none of timestamp and from_id is given, response records in descending by created time from latest time with order in desc.

        If both timestamp and from_id are provided, prioritize the usage of the timestamp.'
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: false
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: from_id
        description: trade id
        required: false
        schema:
          type: integer
          format: int64
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Trade'
      tags:
      - Trade
      operationId: getApiV3WalletPathWalletTypeTrades
  /api/v3/order/trades:
    get:
      summary: trade detail
      description: Get trade detail by your order info
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: order_id
        description: unique order id
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: client_oid
        description: client_oid. Only accept one params for order_id or client_oid
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Trade'
      tags:
      - Trade
      operationId: getApiV3OrderTrades
components:
  schemas:
    External_V3_Entities_Trade:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 68444
          description: trade id
        order_id:
          type: integer
          format: int64
          example: 87
          description: order related to you (show ask side if self-trade)
        wallet_type:
          type: string
          example: spot
          description: spot or m
        price:
          type: string
          example: '21499.0'
          description: strike price
        volume:
          type: string
          example: '0.2658'
          description: traded volume
        funds:
          type: string
          example: '5714.4'
          description: total traded amount
        market:
          type: string
          example: ethtwd
          description: market id
        market_name:
          type: string
          example: ETH/TWD
          description: market name
        side:
          type: string
          example: self-trade
          description: '''bid'' or ''ask''; side of your order when querying your own trades (can be ''self-trade'')'
        fee:
          type:
          - string
          - 'null'
          example: '0.00001'
          description: your related fee (show ask side if self-trade)
        fee_currency:
          type:
          - string
          - 'null'
          example: usdt
          description: fee currency (show ask side if self-trade)
        fee_discounted:
          type:
          - boolean
          - 'null'
          example: false
          description: whether the fee is discounted or not (show ask side if self-trade)
        self_trade_bid_fee:
          type:
          - string
          - 'null'
          example: '0.00001'
          description: your self trade bid fee
        self_trade_bid_fee_currency:
          type:
          - string
          - 'null'
          example: eth
          description: your self trade bid fee currency
        self_trade_bid_fee_discounted:
          type:
          - boolean
          - 'null'
          example: false
          description: whether your self trade bid fee is discounted or not
        self_trade_bid_order_id:
          type:
          - integer
          - 'null'
          format: int64
          example: 86
          description: your self trade bid order id
        liquidity:
          type: string
          example: taker
          description: maker or taker (show ask side if self-trade)
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
      required:
      - id
      - order_id
      - wallet_type
      - price
      - volume
      - funds
      - market
      - market_name
      - side
      - fee
      - fee_currency
      - fee_discounted
      - liquidity
      - created_at
      description: External_V3_Entities_Trade model
