openapi: 3.2.0
info:
  title: MAX V3 RESTful API List User API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: User
  description: Operations about Users
paths:
  /api/v3/info:
    get:
      description: get user information
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Info'
      tags:
      - User
      operationId: getApiV3Info
      summary: Get api V3 info
      x-summary-source: derived
components:
  schemas:
    External_V3_Entities_VipLevel:
      type: object
      properties:
        level:
          type: integer
          format: int32
          example: 0
          description: VIP level
        minimum_trading_volume:
          type: integer
          format: int32
          example: 0
          description: minimum trading volume for this level
        minimum_staking_volume:
          type: integer
          format: int32
          example: 0
          description: minimum staking volume for this level
        maker_fee:
          type: number
          format: float
          example: 0.0005
          description: current maker fee
        taker_fee:
          type: number
          format: float
          example: 0.0015
          description: current taker fee
      required:
      - level
      - minimum_trading_volume
      - minimum_staking_volume
      - maker_fee
      - taker_fee
    External_V3_Entities_Info:
      type: object
      properties:
        email:
          type: string
          example: max@maicoin.com
          description: user email
        level:
          type: integer
          format: int32
          example: 0
          description: user level
        m_wallet_enabled:
          type: boolean
          example: true
          description: if enable m-wallet
        current_vip_level:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_VipLevel'
          description: current vip level
        next_vip_level:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_VipLevel'
          description: next vip level
      required:
      - email
      - level
      - current_vip_level
      - next_vip_level
      description: External_V3_Entities_Info model
