openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Convert API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Convert
  description: Operations about Converts
paths:
  /api/v3/convert:
    post:
      description: Execute a convert (flash exchange) between two currencies
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_ConvertOrder'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_Creation'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Error'
      tags:
      - Convert
      operationId: postApiV3Convert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3Convert'
        required: true
      summary: Post api V3 convert
      x-summary-source: derived
    get:
      description: Get details of a specific convert order
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        description: unique convert order id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_ConvertOrder'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_ResourceNotFound'
      tags:
      - Convert
      operationId: getApiV3Convert
      summary: Get api V3 convert
      x-summary-source: derived
  /api/v3/converts:
    get:
      description: Get convert orders history
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_ConvertOrder'
      tags:
      - Convert
      operationId: getApiV3Converts
      summary: Get api V3 converts
      x-summary-source: derived
components:
  schemas:
    External_V3_Entities_ConvertOrder:
      type: object
      properties:
        sn:
          type: string
          example: 6322d9bd-736b-4f19-b862-829e75cae1ce
          description: serial number
        from_currency:
          type: string
          example: btc
          description: from currency
        from_amount:
          type: string
          example: '0.01'
          description: from currency amount
        to_currency:
          type: string
          example: usdt
          description: to currency
        to_amount:
          type: string
          example: '289.13'
          description: to currency amount (after fee deduction)
        fee:
          type: string
          example: '0.87'
          description: conversion fee
        fee_currency:
          type: string
          example: usdt
          description: fee currency (same as to_currency)
        fee_in_twd:
          type: string
          example: '0.31'
          description: fee in twd
        created_at:
          type: integer
          format: int32
          example: 1704937708
          description: created timestamp (second)
      required:
      - sn
      - from_currency
      - from_amount
      - to_currency
      - to_amount
      - fee
      - fee_currency
      - fee_in_twd
      - created_at
      description: External_V3_Entities_ConvertOrder model
    Shared_Entities_Errors_Creation:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 4002
              description: Error code
            message:
              type: string
              example: You don't have permission to perform this operation, please upgrade your account.
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Errors_Creation model
    Shared_Entities_Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 4000
              description: Error code, 1001(invalid paramter)/4000(resource not found)/etc...
            message:
              type: string
              example: Resource not found
              description: Error message
            info:
              type: object
              example:
                limit: '0.0'
              description: Error extra info
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Error model
    postApiV3Convert:
      type: object
      properties:
        from_currency:
          type: string
          description: source currency
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
          example: btc
        to_currency:
          type: string
          description: target currency
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
          example: usdt
        from_amount:
          type: string
          description: amount of source currency to convert (mutually exclusive with to_amount)
          example: '0.01'
        to_amount:
          type: string
          description: amount of target currency to receive (mutually exclusive with from_amount)
          example: '290'
      required:
      - from_currency
      - to_currency
      description: Execute a convert (flash exchange) between two currencies
    Shared_Entities_Errors_ResourceNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 404
              description: Error code
            message:
              type: string
              example: 找不到該資源
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Errors_ResourceNotFound model
