openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Order API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Order
  description: Requires authentication
paths:
  /api/v3/wallet/{path_wallet_type}/orders/open:
    get:
      summary: open orders
      description: 'Get open orders.


        Parameter Usage Description


        Response records in ascending by created time from specificd timestamp with order_by in asc.

        Response records in decending by created time from specificd timestamp with order_by in desc.

        Response records in ascending by updated time from specificd timestamp with order_by in asc_updated_at.

        Response records in decending by updated time from specificd timestamp with order_by in desc_updated_at.'
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: false
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order_by
        description: order in created time or updated time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - asc_updated_at
          - desc_updated_at
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Order'
      tags:
      - Order
      operationId: getApiV3WalletPathWalletTypeOrdersOpen
  /api/v3/wallet/{path_wallet_type}/orders/closed:
    get:
      summary: closed orders
      description: 'Get closed orders.


        Parameter Usage Description


        Response records in ascending by created time from specificd timestamp with order_by in asc.

        Response records in decending by created time from specificd timestamp with order_by in desc.

        Response records in ascending by updated time from specificd timestamp with order_by in asc_updated_at.

        Response records in decending by updated time from specificd timestamp with order_by in desc_updated_at.'
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: false
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order_by
        description: order in created time or updated time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - asc_updated_at
          - desc_updated_at
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Order'
      tags:
      - Order
      operationId: getApiV3WalletPathWalletTypeOrdersClosed
  /api/v3/wallet/{path_wallet_type}/orders/history:
    get:
      summary: order history by order id
      description: Get order history in ascending order from a specific from_id.
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: true
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: from_id
        description: order id, responses orders whose id is greater and equal to specified order id. The default value is 1.
        required: false
        schema:
          type: integer
          format: int64
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Order'
      tags:
      - Order
      operationId: getApiV3WalletPathWalletTypeOrdersHistory
  /api/v3/wallet/{path_wallet_type}/order:
    post:
      summary: submit a sell/buy order
      description: Create sell/buy order
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Order'
      tags:
      - Order
      operationId: postApiV3WalletPathWalletTypeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3WalletPathWalletTypeOrder'
        required: true
  /api/v3/wallet/{path_wallet_type}/orders:
    delete:
      summary: cancel all orders
      description: Cancel all your orders with given market and side in different wallet type. The request will be queued to process.
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_MultiOrder'
      tags:
      - Order
      operationId: deleteApiV3WalletPathWalletTypeOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteApiV3WalletPathWalletTypeOrders'
        required: true
  /api/v3/order:
    get:
      summary: order detail
      description: Get order detail
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: id
        description: unique order id
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: client_oid
        description: user specific order id. maximum length of client_oid must less or equal to 36. Reusing a client_oid within 24 hours will be rejected.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Order'
      tags:
      - Order
      operationId: getApiV3Order
    delete:
      summary: cancel an order
      description: Create a cancelation request for your order. The request will be queued to process.
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Success'
      tags:
      - Order
      operationId: deleteApiV3Order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteApiV3Order'
        required: true
components:
  schemas:
    Shared_Entities_Success:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: success or not
      required:
      - success
      description: Shared_Entities_Success model
    postApiV3WalletPathWalletTypeOrder:
      type: object
      properties:
        market:
          type: string
          description: unique market id, check /api/v3/markets for available markets
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
        side:
          type: string
          description: '''sell'' or ''buy'''
          enum:
          - sell
          - buy
        volume:
          type: string
          description: total amount to sell/buy, an order could be partially executed
        price:
          type: string
          description: price of a unit
        client_oid:
          type: string
          description: user specific order id. maximum length of client_oid must less or equal to 36. persistence, server will validate uniqueness within 24 hours only
        stop_price:
          type: string
          description: price to trigger a stop order
        ord_type:
          type: string
          description: '''limit'', ''market'', ''stop_limit'', ''stop_market'', ''post_only'' or ''ioc_limit'''
          enum:
          - market
          - limit
          - stop_market
          - stop_limit
          - post_only
          - ioc_limit
          - rpi
        group_id:
          type: integer
          format: int32
          description: group order id, ex. 123
          minimum: 1
          maximum: 2147483647
      required:
      - market
      - side
      - volume
      description: submit a sell/buy order
    External_V3_Entities_Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 87
          description: unique order id
        wallet_type:
          type: string
          example: m
          description: spot wallet or m-wallet
        market:
          type: string
          example: ethtwd
          description: market id, get available markets by api 'GET /api/v3/markets'
        client_oid:
          type:
          - string
          - 'null'
          example: 4511dc1f-4b28-4adb-a384-109384d3bc6e
          description: user specific order id. maximum length of client_oid must less or equal to 36. Reusing a client_oid within 24 hours will be rejected.
        group_id:
          type:
          - integer
          - 'null'
          format: int32
          example: 1
          description: group order id
        side:
          type: string
          example: buy
          description: '''sell'' or ''buy'''
        state:
          type: string
          example: wait
          description: '''wait'', ''done'', ''cancel'', or ''convert''; ''wait'' means waiting for fulfillment; ''done'' means fullfilled; ''cancel'' means cancelled; ''convert'' means the stop order is triggered'
        ord_type:
          type: string
          example: limit
          description: '''MAX supports different type of order: limit'', ''market'', ''stop_limit'', ''stop_market'', ''post_only'' or ''ioc_limit'''
        price:
          type:
          - string
          - 'null'
          example: '21499.0'
          description: price of a unit
        stop_price:
          type:
          - string
          - 'null'
          example: '21499.0'
          description: price to trigger a stop order
        avg_price:
          type: string
          example: '21499.0'
          description: average execution price as a high-precision decimal string
        volume:
          type: string
          example: '0.2658'
          description: total amount to sell/buy, an order could be partially executed
        remaining_volume:
          type: string
          example: '0.2658'
          description: remaining volume
        executed_volume:
          type: string
          example: '0.0'
          description: executed volume
        trades_count:
          type: integer
          format: int32
          example: 0
          description: trade count
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        updated_at:
          type: integer
          format: int32
          example: 1521726960123
          description: updated timestamp (millisecond)
      required:
      - id
      - wallet_type
      - market
      - client_oid
      - group_id
      - side
      - state
      - ord_type
      - price
      - stop_price
      - avg_price
      - volume
      - remaining_volume
      - executed_volume
      - trades_count
      - created_at
      - updated_at
      description: External_V3_Entities_Order model
    deleteApiV3WalletPathWalletTypeOrders:
      type: object
      properties:
        market:
          type: string
          description: unique market id, check /api/v3/markets for available markets
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
        side:
          type: string
          enum:
          - sell
          - buy
        group_id:
          type: integer
          format: int32
          description: group order id, ex. 123
          minimum: 1
          maximum: 2147483647
      description: cancel all orders
    deleteApiV3Order:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: unique order id
        client_oid:
          type: string
          description: user specific order id. maximum length of client_oid must less or equal to 36. persistence, server will validate uniqueness within 24 hours only
      description: cancel an order
    External_V3_Entities_MultiOrder:
      type: object
      properties:
        error:
          type: string
          example: 'Validation failed: Volume must be greater than 0'
          description: the failure reason of placing order
        order:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_Order'
          description: the result when place order successfully
      required:
      - error
      - order
      description: External_V3_Entities_MultiOrder model
