openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Public API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Public
  description: Public endpoints
paths:
  /api/v3/wallet/m/index_prices:
    get:
      summary: index prices
      description: Get latest index prices of m-wallet
      responses:
        '200':
          description: index prices
      tags:
      - Public
      operationId: getApiV3WalletMIndexPrices
  /api/v3/wallet/m/historical_index_prices:
    get:
      summary: historical index prices
      description: Get latest historical index prices
      parameters:
      - in: query
        name: market
        description: M-wallet supported markets, see /api/v3/wallet/m/markets for details.
        required: true
        schema:
          type: string
          enum:
          - usdttwd
          - btcusdt
          - ethusdt
      - in: query
        name: start_time
        description: Start time stamp in millisecond, responses historical index prices greater and equal to specified start_time.
        required: true
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: end_time
        description: End time stamp in millisecond, responses historical index prices less to specified end time. The duration between start time and end time cannot be larger than 30 days.
        required: true
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      responses:
        '200':
          description: historical index prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_HistoricalIndexPrice'
      tags:
      - Public
      operationId: getApiV3WalletMHistoricalIndexPrices
  /api/v3/wallet/m/limits:
    get:
      summary: available loan amount
      description: Get total available loan amount
      responses:
        '200':
          description: available loan amount
      tags:
      - Public
      operationId: getApiV3WalletMLimits
  /api/v3/wallet/m/interest_rates:
    get:
      summary: interest rates
      description: Get latest interest rates of m-wallet
      responses:
        '200':
          description: interest rates
      tags:
      - Public
      operationId: getApiV3WalletMInterestRates
  /api/v3/markets:
    get:
      summary: get all available markets
      description: 'status includes suspended, cancel-only and active.


        Market Status Explanation


        suspended: both placing and cancelling orders are forbidden.

        cancel-only: existing orders can be cancelled, but new orders cannot be placed.

        active: both placing and cancelling orders are allowed.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Market'
      tags:
      - Public
      operationId: getApiV3Markets
  /api/v3/currencies:
    get:
      description: get all available currencies
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Currencies'
      tags:
      - Public
      operationId: getApiV3Currencies
      summary: Get api V3 currencies
      x-summary-source: derived
  /api/v3/timestamp:
    get:
      description: get server current time, in seconds since Unix epoch
      responses:
        '200':
          description: get server current time, in seconds since Unix epoch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Timestamp'
      tags:
      - Public
      operationId: getApiV3Timestamp
      summary: Get api V3 timestamp
      x-summary-source: derived
  /api/v3/k:
    get:
      description: get OHLC(k line) of a specific market
      parameters:
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: true
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: limit
        description: returned data points limit, default to 30
        required: false
        schema:
          type: integer
          format: int32
          default: 30
          maximum: 10000
          minimum: 1
      - in: query
        name: period
        description: time period of K line in minute, default to 1
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 1
          - 5
          - 15
          - 30
          - 60
          - 120
          - 240
          - 360
          - 720
          - 1440
          - 4320
          - 10080
          default: 1
      - in: query
        name: timestamp
        description: the seconds elapsed since Unix epoch, responses k line greater and equal to specified time
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: array of [timestamp, open, high, low, close, volume]
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
      tags:
      - Public
      operationId: getApiV3K
      summary: Get api V3 K
      x-summary-source: derived
  /api/v3/depth:
    get:
      description: get depth of a specified market
      parameters:
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: true
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: limit
        description: returned price levels limit, default to maximum value
        required: false
        schema:
          type: integer
          format: int32
          default: 300
          maximum: 300
          minimum: 1
      - in: query
        name: sort_by_price
        description: sorting by price or by ticker position
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: '[price, volume], timestamp in seconds since Unix epoch'
      tags:
      - Public
      operationId: getApiV3Depth
      summary: Get api V3 depth
      x-summary-source: derived
  /api/v3/trades:
    get:
      description: get recent trades on market, sorted in reverse creation order
      parameters:
      - in: query
        name: market
        description: unique market id, check /api/v2/markets for available markets
        required: true
        schema:
          type: string
          enum:
          - btctwd
          - ethtwd
          - ltctwd
          - bchtwd
          - usdttwd
          - ethbtc
          - trxtwd
          - trxusdt
          - btcusdt
          - ethusdt
          - bchusdt
          - ltcusdt
          - xrptwd
          - xrpusdt
          - maxusdt
          - maxtwd
          - usdctwd
          - linktwd
          - comptwd
          - paxgtwd
          - sandusdt
          - usdcusdt
          - linkusdt
          - grttwd
          - grtusdt
          - yfitwd
          - yfiusdt
          - dogetwd
          - dogeusdt
          - adatwd
          - dottwd
          - poltwd
          - compusdt
          - dotusdt
          - aavetwd
          - paxgusdt
          - polusdt
          - aaveusdt
          - adausdt
          - soltwd
          - solusdt
          - shibtwd
          - shibusdt
          - sandtwd
          - galatwd
          - galausdt
          - manatwd
          - manausdt
          - alicetwd
          - aliceusdt
          - masktwd
          - maskusdt
          - apetwd
          - apeusdt
          - xtztwd
          - xtzusdt
          - gmttwd
          - gmtusdt
          - gsttwd
          - gstusdt
          - bnbtwd
          - bnbusdt
          - enstwd
          - ensusdt
          - etctwd
          - etcusdt
          - arbtwd
          - arbusdt
          - avaxtwd
          - avaxusdt
          - taotwd
          - taousdt
          - suitwd
          - suiusdt
          - xauttwd
          - xautusdt
      - in: query
        name: timestamp
        description: timestamp in millisecond, responses trades whose create time is less than or equal to specified time.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_PublicTrade'
      tags:
      - Public
      operationId: getApiV3Trades
      summary: Get api V3 trades
      x-summary-source: derived
  /api/v3/tickers:
    get:
      description: get ticker of all markets
      parameters:
      - in: query
        name: markets
        description: 'Array of market id, check /api/v3/markets for available markets. Use bracket notation for array parameters. ex: ?markets[]=btcusdt&markets[]=ethusdt'
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ticker is within 24 hours, "at" is timestamp in seconds since Unix epoch
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Ticker'
      tags:
      - Public
      operationId: getApiV3Tickers
      summary: Get api V3 tickers
      x-summary-source: derived
  /api/v3/ticker:
    get:
      description: get ticker of specific market
      parameters:
      - in: query
        name: market
        description: unique market id, check /api/v3/markets for available markets
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ticker is within 24 hours, "at" is timestamp in seconds since Unix epoch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Ticker'
      tags:
      - Public
      operationId: getApiV3Ticker
      summary: Get api V3 ticker
      x-summary-source: derived
components:
  schemas:
    External_V3_Entities_Timestamp:
      type: object
      properties:
        timestamp:
          type: integer
          format: int32
          example: 1678766175
          description: Unix epoch timestamp in seconds
      required:
      - timestamp
      description: External_V3_Entities_Timestamp model
    External_V3_Entities_PublicTrade:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 68444
          description: trade id
        price:
          type: string
          example: '21499.0'
          description: strike price
        volume:
          type: string
          example: '0.2658'
          description: traded volume
        funds:
          type: string
          example: '5714.4'
          description: total traded amount
        market:
          type: string
          example: ethtwd
          description: market id
        side:
          type: string
          example: bid
          description: '''bid'' or ''ask''; side of maker for public trades'
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
      required:
      - id
      - price
      - volume
      - funds
      - market
      - side
      - created_at
      description: External_V3_Entities_PublicTrade model
    External_V3_Entities_Ticker:
      type: object
      properties:
        market:
          type: string
          example: ethtwd
          description: market id, get available markets by api 'GET /api/v3/markets'
        at:
          type: integer
          format: int32
          example: 1531905257
          description: timestamp in seconds since Unix epoch
        buy:
          type: string
          example: '200000.0'
          description: highest buy price
        buy_vol:
          type: string
          example: '0.01'
          description: volume of highest buy price
        sell:
          type: string
          example: '200000.0'
          description: lowest sell price
        sell_vol:
          type: string
          example: '0.02'
          description: volume of lowest sell price
        open:
          type: string
          example: '200000.0'
          description: price before 24 hours
        low:
          type: string
          example: '200000.0'
          description: lowest price within 24 hours
        high:
          type: string
          example: '200000.0'
          description: highest price within 24 hours
        last:
          type: string
          example: '200000.0'
          description: last traded price
        vol:
          type: string
          example: '10.0'
          description: traded volume within 24 hours
        vol_in_btc:
          type: string
          example: '10.0'
          description: traded volume within 24 hours in equal BTC
        vol_in_quote:
          type: string
          example: '10.0'
          description: traded volume within 24 hours in equal quote unit
      required:
      - market
      - at
      - buy
      - buy_vol
      - sell
      - sell_vol
      - open
      - low
      - high
      - last
      - vol
      - vol_in_btc
      - vol_in_quote
      description: External_V3_Entities_Ticker model
    External_V3_Entities_Staking:
      type: object
      properties:
        stake_flag:
          type: boolean
          example: true
          description: stake flag
        unstake_flag:
          type: boolean
          example: false
          description: unstake flag
      required:
      - stake_flag
      - unstake_flag
    External_V3_Entities_Market:
      type: object
      properties:
        id:
          type: string
          example: btctwd
          description: unique market id, check /api/v3/markets for available markets
        status:
          type: string
          example: active
          description: market status
        base_unit:
          type: string
          example: btc
          description: base unit
        base_unit_precision:
          type: integer
          format: int32
          example: 5
          description: fixed precision of base unit, can be negative, for example -3
        min_base_amount:
          type: number
          format: float
          example: 0.0015
          description: minimum of base amount
        quote_unit:
          type: string
          example: twd
          description: quote unit
        quote_unit_precision:
          type: integer
          format: int32
          example: 1
          description: fixed precision of quote unit
        min_quote_amount:
          type: number
          format: float
          example: 26.0
          description: minimum of quote amount
        m_wallet_supported:
          type: boolean
          example: false
          description: m wallet supported
      required:
      - id
      - status
      - base_unit
      - base_unit_precision
      - min_base_amount
      - quote_unit
      - quote_unit_precision
      - min_quote_amount
      - m_wallet_supported
      description: External_V3_Entities_Market model
    External_V3_Entities_HistoricalIndexPrice:
      type: object
      properties:
        timestamp:
          type: integer
          format: int32
          example: 1644572610000
          description: timestamp (millisecond)
        price:
          type: string
          example: '43497.56666666'
          description: index price
      required:
      - timestamp
      - price
      description: External_V3_Entities_HistoricalIndexPrice model
    External_V3_Entities_Currencies:
      type: object
      properties:
        currency:
          type: string
          example: usdt
          description: unique currency id
        type:
          type: string
          example: crypto
          description: currency type fiat or crypto
        precision:
          type: integer
          format: int32
          example: 8
          description: fixed precision of the currency
        m_wallet_supported:
          type: boolean
          example: true
          description: if support m_wallet
        m_wallet_mortgageable:
          type: boolean
          example: true
          description: currency is mortgageable or not
        m_wallet_borrowable:
          type: boolean
          example: true
          description: currency is borrowable or not
        min_borrow_amount:
          type: string
          example: '0.001'
          description: minimum borrowing amount
        networks:
          type: array
          items:
            $ref: '#/components/schemas/External_V3_Entities_Currency'
          description: the network of this currency support
        staking:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_Staking'
          description: can stake or not
      required:
      - currency
      - type
      - precision
      - m_wallet_supported
      - m_wallet_mortgageable
      - m_wallet_borrowable
      - min_borrow_amount
      - networks
      - staking
      description: External_V3_Entities_Currencies model
    External_V3_Entities_Currency:
      type: object
      properties:
        token_contract_address:
          type:
          - string
          - 'null'
          example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
          description: contract address of currency
        precision:
          type: integer
          format: int32
          example: 8
          description: fixed precision of the currency
        id:
          type: string
          example: trc20usdt
          description: currency version, check /api/v3/currencies for available currency versions
        network_protocol:
          type: string
          example: tron-trc20
          description: network protocol of currency
        network_congested:
          type: boolean
          example: false
          description: is network congested or not
        deposit_confirmations:
          type: integer
          format: int32
          example: 3
          description: how many blocks need to be confirmed after deposit
        withdrawal_fee:
          type: number
          format: float
          example: 0.0005
          description: withdrawal fee of the currency
        min_withdrawal_amount:
          type: number
          format: float
          example: 0.001
          description: minimum withdrawal amount
        withdrawal_enabled:
          type: boolean
          example: true
          description: if enable withdrawal
        deposit_enabled:
          type: boolean
          example: true
          description: if enable deposit
        need_memo:
          type: boolean
          example: false
          description: if currency address need memo or tag
      required:
      - token_contract_address
      - precision
      - id
      - network_protocol
      - network_congested
      - deposit_confirmations
      - withdrawal_fee
      - min_withdrawal_amount
      - withdrawal_enabled
      - deposit_enabled
      - need_memo
