openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Transaction API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Transaction
  description: Requires authentication
paths:
  /api/v3/wallet/m/transfer:
    post:
      summary: make spot wallet m wallet transfer
      description: Create a transaction between your spot wallet and m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_BorrowingTransfer'
      tags:
      - Transaction
      operationId: postApiV3WalletMTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3WalletMTransfer'
        required: true
  /api/v3/wallet/m/transfers:
    get:
      summary: transactions between spot wallet and m-wallet
      description: List transactions between your spot wallet and m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique composite currency id
        required: true
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - usdt
      - in: query
        name: side
        description: inbound or outbound transfers
        required: true
        schema:
          type: string
          enum:
          - in
          - out
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_BorrowingTransfer'
      tags:
      - Transaction
      operationId: getApiV3WalletMTransfers
  /api/v3/withdrawal:
    get:
      description: Get details of a specific external withdraw
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: uuid
        description: unique withdraw id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Withdrawal'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_ResourceNotFound'
      tags:
      - Transaction
      operationId: getApiV3Withdrawal
      summary: Get api V3 withdrawal
      x-summary-source: derived
    post:
      description: Submit a crypto withdrawal. IP whitelist for api token is required.
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Withdrawal'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_Creation'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V2_Entities_Errors_ResourceNotFound'
      tags:
      - Transaction
      operationId: postApiV3Withdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3Withdrawal'
        required: true
      summary: Post api V3 withdrawal
      x-summary-source: derived
  /api/v3/withdrawal/twd:
    post:
      description: Submit twd withdrawal to verified bank account. IP whitelist for api token is required.
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Withdrawal'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_Creation'
      tags:
      - Transaction
      operationId: postApiV3WithdrawalTwd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3WithdrawalTwd'
        required: true
      summary: Post api V3 withdrawal twd
      x-summary-source: derived
  /api/v3/withdrawals:
    get:
      description: Get external withdrawals history
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique currency id, check /api/v2/currencies for available currencies
        required: false
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      - in: query
        name: state
        description: state of records
        required: false
        schema:
          type: string
          enum:
          - processing
          - failed
          - canceled
          - done
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Withdrawal'
      tags:
      - Transaction
      operationId: getApiV3Withdrawals
      summary: Get api V3 withdrawals
      x-summary-source: derived
  /api/v3/deposit:
    get:
      description: Get details of a specific deposit
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: txid
        description: unique transaction id
        required: false
        schema:
          type: string
      - in: query
        name: uuid
        description: unique deposit id
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Deposit'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V2_Entities_Errors_DepositBySnNotFound'
      tags:
      - Transaction
      operationId: getApiV3Deposit
      summary: Get api V3 deposit
      x-summary-source: derived
  /api/v3/deposits:
    get:
      description: Get external deposits history
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique currency id, check /api/v2/currencies for available currencies
        required: false
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Deposit'
      tags:
      - Transaction
      operationId: getApiV3Deposits
      summary: Get api V3 deposits
      x-summary-source: derived
  /api/v3/internal_transfers:
    get:
      description: Get internal transfers history
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: side
        required: true
        schema:
          type: string
          enum:
          - in
          - out
          default: in
      - in: query
        name: currency
        description: unique currency id
        required: false
        schema:
          type: string
          enum:
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_InternalTransfers_Transfer'
      tags:
      - Transaction
      operationId: getApiV3InternalTransfers
      summary: Get api V3 internal transfers
      x-summary-source: derived
  /api/v3/rewards:
    get:
      description: Get rewards history
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: reward_type
        required: false
        schema:
          type: string
          enum:
          - vip_rebate
          - staking_reward
          - rpi_rebate
          - redemption_reward
          - commission
          - airdrop_reward
          - trading_reward
          - mining_reward
          - holding_reward
          - yield
      - in: query
        name: currency
        description: unique currency id
        required: false
        schema:
          type: string
          enum:
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_InternalTransfers_Reward'
      tags:
      - Transaction
      operationId: getApiV3Rewards
      summary: Get api V3 rewards
      x-summary-source: derived
  /api/v3/fund_transactions/deposits:
    get:
      description: get deposit transactions
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Deposit'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsDeposits
      summary: Get api V3 fund transactions deposits
      x-summary-source: derived
  /api/v3/fund_transactions/deposit:
    get:
      description: get deposit transaction
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Deposit'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsDeposit
      summary: Get api V3 fund transactions deposit
      x-summary-source: derived
  /api/v3/fund_transactions/withdrawals:
    get:
      description: get withdraw transactions
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Withdrawal'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsWithdrawals
      summary: Get api V3 fund transactions withdrawals
      x-summary-source: derived
  /api/v3/fund_transactions/withdrawal:
    get:
      description: get withdraw transaction
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Withdrawal'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsWithdrawal
      summary: Get api V3 fund transactions withdrawal
      x-summary-source: derived
  /api/v3/fund_transactions/transfers:
    get:
      description: get transfer transactions
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Transfer'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsTransfers
      summary: Get api V3 fund transactions transfers
      x-summary-source: derived
  /api/v3/fund_transactions/transfer:
    get:
      description: get transfer transaction
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Transfer'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsTransfer
      summary: Get api V3 fund transactions transfer
      x-summary-source: derived
  /api/v3/fund_transactions/rewards:
    get:
      description: get reward transactions
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Reward'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsRewards
      summary: Get api V3 fund transactions rewards
      x-summary-source: derived
  /api/v3/fund_transactions/reward:
    get:
      description: get reward transaction
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Reward'
      tags:
      - Transaction
      operationId: getApiV3FundTransactionsReward
      summary: Get api V3 fund transactions reward
      x-summary-source: derived
components:
  schemas:
    External_V3_Entities_InternalTransfers_Reward:
      type: object
      properties:
        uuid:
          type: string
          example: '18032011380001'
          description: unique internal transfer id
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: transfer amount
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        type:
          type: string
          example: airdrop_reward
          description: reward type
        note:
          type: string
          example: 2018-11-13 Holding Reward
          description: reward description
      required:
      - uuid
      - currency
      - amount
      - created_at
      - type
      - note
      description: External_V3_Entities_InternalTransfers_Reward model
    postApiV3Withdrawal:
      type: object
      properties:
        withdraw_address_uuid:
          type: string
          description: unique withdraw address id, check GET /api/v3/withdraw_addresses for available withdraw addresses
          example: 508c9af6-ccc1-4122-b38f-a407e3bac96c
        amount:
          type: string
          description: withdraw amount
          example: '0.019'
      required:
      - withdraw_address_uuid
      - amount
      description: Submit a crypto withdrawal. IP whitelist for api token is required.
    External_V3_Entities_InternalTransfers_Transfer:
      type: object
      properties:
        uuid:
          type: string
          example: '18032011380001'
          description: unique internal transfer id
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: transfer amount
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        from:
          type: string
          example: pr***@***.com
          description: email/mark email
        to:
          type: string
          example: member@maicoin.com
          description: email/address
        state:
          type: string
          example: processing
          description: state, processing/failed/canceled/done
      required:
      - uuid
      - currency
      - amount
      - created_at
      - from
      - to
      - state
      description: External_V3_Entities_InternalTransfers_Transfer model
    External_V2_Entities_Errors_DepositBySnNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 2013
              description: Error code
            message:
              type: string
              example: Deposit##uuid=2305090002283160563 doesn't exist.
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: External_V2_Entities_Errors_DepositBySnNotFound model
    postApiV3WalletMTransfer:
      type: object
      properties:
        currency:
          type: string
          description: unique composite currency id
          enum:
          - twd
          - btc
          - eth
          - usdt
          example: eth
        amount:
          type: string
          description: transfer amount
          example: '0.019'
        side:
          type: string
          description: inbound or outbound transfers
          enum:
          - in
          - out
          example: in
      required:
      - currency
      - amount
      - side
      description: make spot wallet <-> m wallet transfer
    External_V3_Entities_FundTransactions_Reward:
      type: object
      properties:
        sn:
          type: string
          example: '18022603540001'
          description: unique reward id
        currency:
          type: string
          example: usdt
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: reward amount
        state:
          type: string
          example: processing
          description: reward state, processing/failed/canceled/done
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        type:
          type: string
          example: airdrop_reward
          description: reward type
        note:
          type: string
          example: 2018-11-13 Holding Reward
          description: reward description
        to_sn:
          type: string
          example: s1-example
          description: reward sub account serial number
      required:
      - sn
      - currency
      - amount
      - state
      - created_at
      - type
      - note
      - to_sn
      description: External_V3_Entities_FundTransactions_Reward model
    Shared_Entities_Errors_Creation:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 4002
              description: Error code
            message:
              type: string
              example: You don't have permission to perform this operation, please upgrade your account.
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Errors_Creation model
    External_V3_Entities_Deposit:
      type: object
      properties:
        uuid:
          type: string
          example: '18022603540001'
          description: unique deposit id
        currency:
          type: string
          example: usdt
          description: currency id
        network_protocol:
          type: string
          example: ethereum-erc20
          description: network protocol of currency
        amount:
          type: string
          example: '0.019'
          description: deposit amount
        to_address:
          type: string
          example: '0x5c7d23d516f120d322fc7b116386b7e491739138'
          description: to_address/virtual account number
        txid:
          type: string
          example: '0x8daa98e07886985bd6a142cd81b83582d6085f7eb931dc4984c18c84f2a845e0'
          description: unique transaction id
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: received timestamp (millisecond)
        confirmations:
          type: integer
          format: int32
          example: 64
          description: confirmations for crypto currency
        state:
          type: string
          example: pending
          description: deposit state, processing/failed/canceled/done
        state_reason:
          type: string
          example: ''
          description: state reason, blank if no further action needed
      required:
      - uuid
      - currency
      - network_protocol
      - amount
      - to_address
      - txid
      - created_at
      - confirmations
      - state
      - state_reason
      description: External_V3_Entities_Deposit model
    External_V3_Entities_BorrowingTransfer:
      type: object
      properties:
        sn:
          type: string
          example: '210407080800050666'
          description: serial number
        side:
          type: string
          example: in
          description: in or out
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: transfer amount
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        state:
          type: string
          example: processing
          description: state, processing/failed/canceled/done
      required:
      - sn
      - side
      - currency
      - amount
      - created_at
      - state
      description: External_V3_Entities_BorrowingTransfer model
    External_V3_Entities_FundTransactions_Deposit:
      type: object
      properties:
        sn:
          type: string
          example: '18022603540001'
          description: unique deposit id
        is_internal:
          type: boolean
          example: false
          description: whether it's an internal transfer
        currency:
          type: string
          example: usdt
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: deposit amount
        state:
          type: string
          example: processing
          description: deposit state, processing/failed/canceled/done
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        network_protocol:
          type:
          - string
          - 'null'
          example: ethereum-erc20
          description: network protocol of currency, null for internal deposit
        to_address:
          type:
          - string
          - 'null'
          example: '0x5c7d23d516f120d322fc7b116386b7e491739138'
          description: to_address/virtual account number, null for internal deposit
        txid:
          type:
          - string
          - 'null'
          example: 0x8daa98e07886985bd6a142cd81b83582d6085f7eb931dc4984c18c84f2a845e0, null for internal deposit
          description: unique transaction id
        from:
          type:
          - string
          - 'null'
          example: pr***@***.com
          description: from member in email, null for external deposit
      required:
      - sn
      - is_internal
      - currency
      - amount
      - state
      - created_at
      - network_protocol
      - to_address
      - txid
      - from
      description: External_V3_Entities_FundTransactions_Deposit model
    Shared_Entities_Errors_ResourceNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 404
              description: Error code
            message:
              type: string
              example: 找不到該資源
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Errors_ResourceNotFound model
    External_V3_Entities_FundTransactions_Transfer:
      type: object
      properties:
        sn:
          type: string
          example: '18022603540001'
          description: unique transfer id
        currency:
          type: string
          example: usdt
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: transfer amount
        state:
          type: string
          example: processing
          description: transfer state, processing/failed/canceled/done
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        from:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Source'
          description: from source information
        to:
          allOf:
          - $ref: '#/components/schemas/External_V3_Entities_FundTransactions_Source'
          description: to source information
      required:
      - sn
      - currency
      - amount
      - state
      - created_at
      - from
      - to
      description: External_V3_Entities_FundTransactions_Transfer model
    External_V3_Entities_FundTransactions_Source:
      type: object
      properties:
        platform:
          type: string
          example: max
          description: source platform
        sn:
          type: string
          example: s1-example
          description: source account serial number
        wallet_type:
          type: string
          example: m
          description: spot wallet or m-wallet
      required:
      - platform
      - sn
      - wallet_type
    External_V3_Entities_Withdrawal:
      type: object
      properties:
        uuid:
          type: string
          example: '18022603540001'
          description: unique withdraw id
        currency:
          type: string
          example: usdt
          description: currency id
        network_protocol:
          type: string
          example: tron-trc20
          description: network protocol of currency, null for internal_transfer
        amount:
          type: string
          example: '0.019'
          description: withdraw amount
        fee:
          type: string
          example: '0.0'
          description: withdraw fee
        fee_currency:
          type: string
          example: usdt
          description: withdraw fee currency
        to_address:
          type: string
          example: TU91BoeyrqW9MKaiRPDiE6z7UecK2n2Hze
          description: to_address/email/mark bank account
        label:
          type: string
          example: My Web3 Wallet
          description: label text on to_address/email or 7-digit bank branch code
        txid:
          type:
          - string
          - 'null'
          example: 957e1f1a1ba878ed0feebb2dd8a0cdbd9ed59ff501238fae199d8713f19c06f2
          description: txid/null, null for internal transaction, fiat withdrawal or unconfirmed crypto withdrawal
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        state:
          type: string
          example: processing
          description: state, processing/failed/canceled/done
        transaction_type:
          type: string
          example: external
          description: transaction type, external/internal
      required:
      - uuid
      - currency
      - network_protocol
      - amount
      - fee
      - fee_currency
      - to_address
      - label
      - txid
      - created_at
      - state
      - transaction_type
      description: External_V3_Entities_Withdrawal model
    External_V3_Entities_FundTransactions_Withdrawal:
      type: object
      properties:
        sn:
          type: string
          example: '18022603540001'
          description: unique withdraw id
        is_internal:
          type: boolean
          example: false
          description: whether it's an internal transfer
        currency:
          type: string
          example: usdt
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: deposit amount
        state:
          type: string
          example: processing
          description: deposit state, processing/failed/canceled/done
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
        network_protocol:
          type:
          - string
          - 'null'
          example: ethereum-erc20
          description: network protocol of currency, null for internal withdraw
        fee:
          type:
          - string
          - 'null'
          example: '0.0'
          description: withdraw fee, null for internal withdraw
        fee_currency:
          type:
          - string
          - 'null'
          example: eth
          description: withdraw fee currency, null for internal withdraw
        to_address:
          type:
          - string
          - 'null'
          example: TU91BoeyrqW9MKaiRPDiE6z7UecK2n2Hze
          description: to_address/email/mark bank account, null for internal withdraw
        label:
          type:
          - string
          - 'null'
          example: My Web3 Wallet
          description: label text on to_address/email or 7-digit bank branch code, null for internal withdraw
        txid:
          type:
          - string
          - 'null'
          example: 957e1f1a1ba878ed0feebb2dd8a0cdbd9ed59ff501238fae199d8713f19c06f2
          description: txid, null for internal withdraw
        to:
          type:
          - string
          - 'null'
          example: member@maicoin.com
          description: email/address, null for external withdraw
      required:
      - sn
      - is_internal
      - currency
      - amount
      - state
      - created_at
      - network_protocol
      - fee
      - fee_currency
      - to_address
      - label
      - txid
      - to
      description: External_V3_Entities_FundTransactions_Withdrawal model
    External_V2_Entities_Errors_ResourceNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 4000
              description: Error code
            message:
              type: string
              example: Resource not found
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: External_V2_Entities_Errors_ResourceNotFound model
    postApiV3WithdrawalTwd:
      type: object
      properties:
        amount:
          type: string
          description: withdraw amount
          example: '100'
      required:
      - amount
      description: Submit twd withdrawal to verified bank account. IP whitelist for api token is required.
