openapi: 3.2.0
info:
  title: MAX V3 RESTful API List Wallet API
  description: '# Changelog


    * 舊版 v2 changelog


    * 2024-11-28

    * 新增 GET /api/v3/deposit_address API


    * 2024-08-30

    * 新版 API v3 釋出，請參考 API v3 列表。


    * 2026-08-15

    * 新增 系統狀態 API，用於查詢 MAX API 目前的系統服務狀態。


    # 基本介紹


    MAX 交易所提供 RESTful API 接口，讓開發者能夠程式化與自動化地進行交易操作，以提升交易體驗。所有 API 請求與回應皆使用 JSON 格式。


    ## API 類別

    | API 類別 | 身分驗證 | 流量限制 | 使用須知 |

    |----------|----------|-----------|----------|

    | 公開 API | 無需驗證 | 每個 IP 地址 1 分鐘最多 1200 請求 | 可直接使用 |

    | 私人 API | 需要驗證 | 每個帳號每分鐘內最多 1200 個請求 | 需要申請 API 密鑰 |


    # 身分驗證


    ## API 密鑰申請

    在開始使用 API…'
  version: 3.0.0
  x-logo:
    url: /logo.png
    altText: Max Restful Api
    href: https://max.maicoin.com/
servers:
- url: https://max-api.maicoin.com/
tags:
- name: Wallet
  description: Requires authentication
paths:
  /api/v3/wallet/{path_wallet_type}/accounts:
    get:
      summary: account balance of all available currencies
      description: Get your account balance with all supported currencies by different wallet type
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: path
        name: path_wallet_type
        description: wallet type
        required: true
        schema:
          type: string
          enum:
          - spot
          - m
      - in: query
        name: currency
        description: unique currency id, check /api/v2/currencies for available currencies
        required: false
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Account'
      tags:
      - Wallet
      operationId: getApiV3WalletPathWalletTypeAccounts
  /api/v3/wallet/m/ad_ratio:
    get:
      summary: latest AD ratio of your m-wallet
      description: Get the latest AD ratio of your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_AdRatio'
      tags:
      - Wallet
      operationId: getApiV3WalletMAdRatio
  /api/v3/wallet/m/loan:
    post:
      summary: submit loan
      description: Create a loan request for your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_Debt'
      tags:
      - Wallet
      operationId: postApiV3WalletMLoan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3WalletMLoan'
        required: true
  /api/v3/wallet/m/loans:
    get:
      summary: loan history
      description: Get loan history of your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique composite currency id
        required: true
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - usdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Debt'
      tags:
      - Wallet
      operationId: getApiV3WalletMLoans
  /api/v3/wallet/m/interests:
    get:
      summary: interest history of your m-wallet
      description: Get interest history of your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique composite currency id
        required: false
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - usdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Interest'
      tags:
      - Wallet
      operationId: getApiV3WalletMInterests
  /api/v3/wallet/m/repayment:
    post:
      summary: submit repayment
      description: Make a repayment for your loan
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_ManualRepayment'
      tags:
      - Wallet
      operationId: postApiV3WalletMRepayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV3WalletMRepayment'
        required: true
  /api/v3/wallet/m/repayments:
    get:
      summary: repayment history
      description: Get repayment history of your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique composite currency id
        required: true
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - usdt
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_ManualRepayment'
      tags:
      - Wallet
      operationId: getApiV3WalletMRepayments
  /api/v3/wallet/m/liquidations:
    get:
      summary: liquidation history
      description: 'Get liquidation history of your m-wallet


        Liquidation State Explanation


        processing: liquidation still in processing

        liquidated: done liquidation

        debt_recovery: has remaining debt, please repay manually'
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: timestamp
        description: timestamp in millisecond. responses records whose created time less than or equal to specified timestamp if order in desc, responses records whose created time is greater than or equal to timestamp if order in asc. latest time as default.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 4102444800000
          minimum: 1512950400000
      - in: query
        name: order
        description: order in created time.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_Liquidation'
      tags:
      - Wallet
      operationId: getApiV3WalletMLiquidations
  /api/v3/wallet/m/liquidation:
    get:
      summary: liquidation detail
      description: Get detail of one specific liquidation history of your m-wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: sn
        description: liquidation serial number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/External_V3_Entities_LiquidationDetail'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Errors_ResourceNotFound'
      tags:
      - Wallet
      operationId: getApiV3WalletMLiquidation
  /api/v3/withdraw_addresses:
    get:
      description: Get withdraw addresses of spot wallet
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency
        description: unique currency id
        required: true
        schema:
          type: string
          enum:
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - cccx
          - pal
          - eos
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - sand
          - usdc
          - link
          - grt
          - yfi
          - doge
          - comp
          - dot
          - ada
          - sol
          - shib
          - gala
          - mana
          - alice
          - pol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - gst
          - bnb
          - ens
          - etc
          - arb
          - avax
          - sui
          - paxg
          - xaut
      - in: query
        name: limit
        description: returned limit (1~1000, default 50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 1
      - in: query
        name: offset
        description: records to skip, not applied for pagination (default 0)
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/External_V3_Entities_FundSource'
      tags:
      - Wallet
      operationId: getApiV3WithdrawAddresses
      summary: Get api V3 withdraw addresses
      x-summary-source: derived
  /api/v3/deposit_address:
    get:
      summary: get user deposit address by currency version
      description: The address could be empty before generated, please request again in that case
      parameters:
      - in: header
        name: X-MAX-ACCESSKEY
        description: access key
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-PAYLOAD
        description: encoded payload
        required: true
        schema:
          type: string
      - in: header
        name: X-MAX-SIGNATURE
        description: encrypted signature
        required: true
        schema:
          type: string
      - in: query
        name: currency_version
        description: currency version, check /api/v3/currencies for available currency versions
        required: true
        schema:
          type: string
          enum:
          - twd
          - btc
          - eth
          - ltc
          - bch
          - mith
          - usdt
          - trx
          - omniusdt
          - mntrx
          - cccx
          - eos
          - pal
          - bat
          - zrx
          - gnt
          - omg
          - knc
          - twdt
          - xrp
          - fmf
          - max
          - seele
          - bcnt
          - usdc
          - link
          - comp
          - paxg
          - sand
          - trc20usdt
          - grt
          - yfi
          - doge
          - ada
          - dot
          - pol
          - aave
          - sol
          - shib
          - gala
          - mana
          - alice
          - polygonpol
          - looks
          - rly
          - loot
          - mask
          - ape
          - xtz
          - gmt
          - polygonusdt
          - polygonusdc
          - gst
          - splusdc
          - bnb
          - bscusdt
          - bscbtc
          - bsceth
          - ens
          - etc
          - arb
          - arbeth
          - arbusdc
          - arbusdt
          - ton
          - avax
          - avaxusdt
          - tao
          - sui
          - xaut
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2b_V2_Entities_PaymentAddress'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shared_Entities_Error'
      tags:
      - Wallet
      operationId: getApiV3DepositAddress
components:
  schemas:
    External_V3_Entities_Account:
      type: object
      properties:
        currency:
          type: string
          example: twd
          description: currency id, e.g. twd, btc, ...
        balance:
          type: string
          example: '100000.0'
          description: available balance
        locked:
          type: string
          example: '5566.0'
          description: locked funds
        staked:
          type:
          - string
          - 'null'
          example: '0.0'
          description: staked funds
        principal:
          type: string
          example: '0.1'
          description: debt principal, only return this info when api requests with m-wallet
        interest:
          type: string
          example: '0.001'
          description: debt interest, only return this info when api requests with m-wallet
      required:
      - currency
      - balance
      - locked
      - staked
      description: External_V3_Entities_Account model
    B2b_V2_Entities_PaymentAddress:
      type: object
      properties:
        currency:
          type: string
          example: usdt
          description: currency id
        network_protocol:
          type: string
          example: tron-trc20
          description: network protocol of currency
        currency_version:
          type: string
          example: trc20usdt
          description: currency version
        address:
          type:
          - string
          - 'null'
          example: TU91BoeyrqW9MKaiRPDiE6z7UecK2n2Hze
          description: deposit address, nil when generating or deposit suspended
      required:
      - currency
      - network_protocol
      - currency_version
      - address
      description: B2b_V2_Entities_PaymentAddress model
    External_V3_Entities_ForcedLiquidation:
      type: object
      properties:
        market:
          type: string
          example: ethusdt
          description: market id
        type:
          type: string
          example: buy
          description: '''sell'' or ''buy'''
        price:
          type: string
          example: '3200'
          description: liquidation price
        volume:
          type: string
          example: '0.1'
          description: volume
        fee:
          type: string
          example: '0.001'
          description: fee
        fee_currency:
          type: string
          example: eth
          description: fee currency
        repayment:
          $ref: '#/components/schemas/External_V3_Entities_Repayment'
      required:
      - market
      - type
      - price
      - volume
      - fee
      - fee_currency
      - repayment
    Shared_Entities_Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 4000
              description: Error code, 1001(invalid paramter)/4000(resource not found)/etc...
            message:
              type: string
              example: Resource not found
              description: Error message
            info:
              type: object
              example:
                limit: '0.0'
              description: Error extra info
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Error model
    External_V3_Entities_LiquidationDetail:
      type: object
      properties:
        sn:
          type: string
          example: '210407080800050666'
          description: serial number
        ad_ratio:
          type: string
          example: '1.2'
          description: ad ratio before liquidation
        expected_ad_ratio:
          type: string
          example: '1.5'
          description: expected ad ratio after liquidation
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        state:
          type: string
          example: liquidated
          description: liquidation state, processing / liquidated
        repayments:
          type: array
          items:
            $ref: '#/components/schemas/External_V3_Entities_Repayment'
          description: repay records
        liquidations:
          type: array
          items:
            $ref: '#/components/schemas/External_V3_Entities_ForcedLiquidation'
          description: liquidation details
      required:
      - sn
      - ad_ratio
      - expected_ad_ratio
      - created_at
      - state
      - repayments
      - liquidations
      description: External_V3_Entities_LiquidationDetail model
    External_V3_Entities_AdRatio:
      type: object
      properties:
        ad_ratio:
          type: string
          example: '1.21'
          description: ad ratio
        asset_in_usdt:
          type: string
          example: '2639.98128484'
          description: asset in usdt
        debt_in_usdt:
          type: string
          example: '2165.54482641'
          description: debt in usdt
      required:
      - ad_ratio
      - asset_in_usdt
      - debt_in_usdt
      description: External_V3_Entities_AdRatio model
    External_V3_Entities_FundSource:
      type: object
      properties:
        uuid:
          type: string
          example: 508c9af6-ccc1-4122-b38f-a407e3bac96c
          description: unique withdraw address id
        currency:
          type: string
          example: usdt
          description: currency id
        network_protocol:
          type:
          - string
          - 'null'
          example: tron-trc20
          description: network protocol of currency
        address:
          type: string
          example: TU91BoeyrqW9MKaiRPDiE6z7UecK2n2Hze
          description: address, <branch code>-<account> for bank account
        extra_label:
          type: string
          example: My Max Wallet
          description: descriptive label
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        activated_at:
          type:
          - integer
          - 'null'
          format: int32
          example: 1521726960357
          description: activated timestamp (millisecond)
        is_internal:
          type: boolean
          example: true
          description: internal address or not
        network_congested:
          type: boolean
          example: true
          description: network congested or not
      required:
      - uuid
      - currency
      - network_protocol
      - address
      - extra_label
      - created_at
      - activated_at
      - is_internal
      - network_congested
      description: External_V3_Entities_FundSource model
    External_V3_Entities_Interest:
      type: object
      properties:
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.003'
          description: interest amount
        interest_rate:
          type: string
          example: '0.001'
          description: interest rate
        principal:
          type: string
          example: '3'
          description: principal amount
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
      required:
      - currency
      - amount
      - interest_rate
      - principal
      - created_at
      description: External_V3_Entities_Interest model
    Shared_Entities_Errors_ResourceNotFound:
      type: object
      properties:
        success:
          type: boolean
          example: false
          description: response success?
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
              example: 404
              description: Error code
            message:
              type: string
              example: 找不到該資源
              description: Error message
          required:
          - code
          - message
      required:
      - success
      - error
      description: Shared_Entities_Errors_ResourceNotFound model
    External_V3_Entities_Repayment:
      type: object
      properties:
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.15'
          description: total repay amount
        principal:
          type: string
          example: '0.1'
          description: principal amount
        interest:
          type: string
          example: '0.05'
          description: interest amount
        state:
          type: string
          example: confirmed
          description: current state
      required:
      - currency
      - amount
      - principal
      - interest
      - state
    External_V3_Entities_Liquidation:
      type: object
      properties:
        sn:
          type: string
          example: '210407080800050666'
          description: serial number
        ad_ratio:
          type: string
          example: '1.2'
          description: ad ratio before liquidation
        expected_ad_ratio:
          type: string
          example: '1.5'
          description: expected ad ratio after liquidation
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        state:
          type: string
          example: liquidated
          description: liquidation state, processing / liquidated
      required:
      - sn
      - ad_ratio
      - expected_ad_ratio
      - created_at
      - state
      description: External_V3_Entities_Liquidation model
    External_V3_Entities_ManualRepayment:
      type: object
      properties:
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.15'
          description: total repay amount
        principal:
          type: string
          example: '0.1'
          description: principal amount
        interest:
          type: string
          example: '0.05'
          description: interest amount
        state:
          type: string
          example: confirmed
          description: current state
        sn:
          type: string
          example: '210407080800050666'
          description: serial number
        created_at:
          type: integer
          format: int32
          example: 1521726960123
          description: created timestamp (millisecond)
      required:
      - currency
      - amount
      - principal
      - interest
      - state
      - sn
      - created_at
      description: External_V3_Entities_ManualRepayment model
    External_V3_Entities_Debt:
      type: object
      properties:
        sn:
          type: string
          example: '210407080800050666'
          description: serial number
        currency:
          type: string
          example: eth
          description: currency id
        amount:
          type: string
          example: '0.019'
          description: transfer amount
        state:
          type: string
          example: confirmed
          description: current state
        created_at:
          type: integer
          format: int32
          example: 1521726960357
          description: created timestamp (millisecond)
        interest_rate:
          type: string
          example: '0.001'
          description: interest rate
      required:
      - sn
      - currency
      - amount
      - state
      - created_at
      - interest_rate
      description: External_V3_Entities_Debt model
    postApiV3WalletMLoan:
      type: object
      properties:
        currency:
          type: string
          description: unique composite currency id
          enum:
          - twd
          - btc
          - eth
          - usdt
          example: eth
        amount:
          type: string
          description: loan amount
          example: '0.019'
      required:
      - currency
      - amount
      description: submit loan
    postApiV3WalletMRepayment:
      type: object
      properties:
        currency:
          type: string
          description: unique composite currency id
          enum:
          - twd
          - btc
          - eth
          - usdt
          example: eth
        amount:
          type: string
          description: repay amount
          example: '0.15'
      required:
      - currency
      - amount
      description: submit repayment
